<nav class="navbar">
  <div class="nav-left">
    <a href="/">Beranda</a>
    <a href="/pages/profil.html">Profil Desa</a>
    <a href="/pages/pemerintahan.html">Pemerintahan</a>
    <a href="/pages/data_desa.html">Data Desa</a>
  </div>

  <div class="nav-center">
    <div class="logo-box">
      <svg
        width="240"
        height="280"
        viewBox="0 0 240 280"
        xmlns="http://www.w3.org/2000/svg"
      >
        <defs>
          <filter id="shadow" x="-50%" y="-50%" width="200%" height="200%">
            <feDropShadow
              dx="0"
              dy="10"
              stdDeviation="15"
              flodd-color="#000"
              flood-opacity="0.15"
            />
          </filter>
        </defs>
        <path
          d="M20 0 L220 0 L220 170 Q220 260 120 260 Q20 260 20 170 Z"
          fill="white"
          filter="url(#shadow)"
        />
      </svg>

      <img src="/img/pangandaran.svg" class="logo-img" />
      <h2>CIGANJENG</h2>
    </div>
  </div>

  <div class="nav-right">
    <a href="/pages/potensi_desa.html">Potensi Desa</a>
    <a href="/pages/berita.html">Berita</a>
    <a href="/pages/galeri.html">Galeri</a>
    <a href="/pages/kontak.html">Kontak</a>
    <button class="btn">Layanan Warga</button>
  </div>

  <div class="menu-toggle">☰</div>
</nav>
